@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&family=Titan+One&display=swap');
@font-face {
    font-family: 'logoFont';
    src: url('/fonts/Autarquica-demo-font-FFP.otf') format('opentype');
}
@font-face {
    font-family: 'logoFont2';
    src: url('/fonts/solid 3d.ttf') format('true type');
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}


/* navbar */
.nav {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    /*background-color: #89b089;*/
     /*background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);*/
    background-color : #89b089;

}

.logo {
 /*font-family: "Titan One", sans-serif;*/
    font-family: 'ONE-Mobile-POP';
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-right: 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

.logout-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline : none;
    font-weight:bold;
}

.menu {
    font-weight:bold;
}

/* footer */
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top : 1px solid #c4c4c4;
    background-color : #89b089;
    margin-top: 50px;
}

.footer p {
    margin: 0;
    color: white;
    /*#8ca896;*/
    font-size: 20px;
    font-weight: bold;

}


/* my-page */

.my-area {
    width : 80%;
    height: 80vh;
    text-align:center;
    margin-top: 60px;
}

.my-area h2 {
    font-weight:bold;
    color: #9fc4a9;
    margin-bottom:25px;
    font-family: 'ONE-Mobile-POP';
}
.my-con {
    font-size: 35px;
    position:relative;
    top: 7px;
}

.bold-text {
    font-weight: bold;
}

  .accordion {
            background-color: #9fc4a9;
            color: #333;
            cursor: pointer;
            padding: 18px;
            width: 90%;
            border: none;
            text-align: left;
            font-size: 15px;
            transition: 0.4s;
            margin: 5px 0;
            outline:none;
        }

        .active, .accordion:hover {
            background-color: #7bb58b;
        }

        .panel {
        display:flex;
        justify-content:center;
        margin : 10px auto;
            padding: 0 18px;
            display: none;
            overflow: hidden;
            margin-bottom: 30px;
             width:80%;
        }
        .panel p {
            text-align:left;
        }
        .panel span {
        }

/* login */

.login-area {
    width : 80%;
    height: 80vh;
    text-align:center;
    margin-top: 60px;
}

.login-area h2 {
    font-weight:bold;
    color: #9fc4a9;
    margin-bottom:25px;
    font-family: 'ONE-Mobile-POP';
    letter-spacing : 5px;
}
.login-area form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.login-error-message {
    font-size : 20px;
    color:#547359;
}

.login-area input {
    width: 40%;
	height: 40px;
	margin: 15px 0;
	border-radius: 5px;
	border: 2px solid #9fc4a9;
	padding: 10px 5px;

}
.login-area input:focus {
  outline-color: #9fc4a9;
  /*background-color: #d1e0d3;*/

}

#loginBtn {
	padding: 10px;
	width: 100px;
	background-color: #fff;
	border: 2px solid #9fc4a9;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
	color:#3b3d3b;
	font-size: 17px;
    outline:none;
	transition: background-color 0.3s ease;
}
#loginBtn:focus {
    outline-color: none;
}

#loginBtn:hover {
	background-color: #9fc4a9;
	color: white;
	font-weight: bold;
}

/* join */

.join-area {
    width : 80%;
    height: 80vh;
    text-align:center;
    margin-top: 60px;
}

.join-area h2 {
    font-weight:bold;
    color: #9fc4a9;
    margin-bottom:25px;
    font-family: 'ONE-Mobile-POP';
    letter-spacing : 5px;
}
.join-area form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.join-area input {
    width: 40%;
	height: 40px;
	margin: 15px 0;
	border-radius: 5px;
	border: 2px solid #9fc4a9;
	padding: 10px 5px;

}
.join-area input:focus {
  outline-color: #9fc4a9;
}

#joinBtn {
	padding: 10px;
	width: 100px;
	background-color: #fff;
	border: 2px solid #9fc4a9;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
	color:#3b3d3b;
	font-size: 17px;
    outline:none;
	transition: background-color 0.3s ease;
}
#joinBtn:focus {
    outline-color: none;
}

#joinBtn:hover {
	background-color: #9fc4a9;
	color: white;
	font-weight: bold;
}

.join-area a {
    font-size : 20px;
    color: gray;
}

.join-area a:hover {
    color : #9fc4a9;
    text-decoration:underline;
}


/*
.nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline : none;
}

.nav button:hover {
    color: #007bff;
}

.nav div {
    display: flex;
    align-items: center;
}
*/



.search-area {

display: flex;
justify-content: right;

}


.detail {
  text-align : center;
}
.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}

.review-form {
    display : flex;
    text-align : center;
    align-items : center;
    justify-content : center;
    flex-direction : column;
}

.review-content {
    list-style : none;
    text-align : center;
    padding : 0;
}

.image {
width : 150px;
}

.card {
 width : 200px;
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 height : 150px;
 margin-right : 20px;
}