<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
<div class="container join-area">

<h2>회원가입</h2>
    <!-- 에러 메시지 표시 -->
    <div th:if="${errorMessage != null}">
        <div style="color: red;" th:text="${errorMessage}"></div>
    </div>
<form action="/member" method="POST" onsubmit="return validateForm()">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="displayName"  placeholder="이름">
    <input name="username" id="username" placeholder="id는 5자 이상이어야 해요!">
    <input name="password" id="password" placeholder="password는 8자 이상이어야 해요!">
    <button type="submit" id="joinBtn">가입하기</button>
    <a href="/login">이미 회원이신가요?</a>
</form>

</div>
<script>
    function validateForm() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    if (username.length < 5) {
        alert("아이디는 5자 이상이어야 합니다.");
        return false;
    }

    if (password.length < 8) {
        alert("비밀번호는 8자 이상이어야 합니다.");
        return false;
    }

    return true;
}
</script>
</body>
</html>