<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mypage</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <style>
        @keyframes fadeOut {
         from {
             opacity: 1;
         }
         to {
             opacity: 0;
         }
     }

     #successMessage {
         animation: fadeOut 1s ease-out 2s forwards;
     }
    </style>
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
<!--<div sec:authentication="principal"></div>-->
<!--<div sec:authentication="principal.username"></div>-->
<!--<div sec:authorize="hasAuthority('일반유저')">-->
<!--<div sec:authorize="isAnonymous()">-->
<!--    <h3>이 유저는 일반 유저 권한입니다.</h3>-->
<!--</div>-->

<div class="container my-area">
    <h2><i class='bx bxs-user-circle my-con' ></i> My Page</h2>
    <p>아이디 <span class="bold-text" th:text="${username}"></span></p>
    <p>닉네임 <span class="bold-text" th:text="${displayName}"></span></p>
    <button class="accordion">주문 내역</button>
    <div class="panel">
        <ul>
            <li th:if="${!sales.isEmpty()}" th:each="sale : ${sales}" class="my-order-list-color">
                주문 번호: <span th:text="${sale.id}"></span> 상품명: <span th:text="${sale.itemName}"></span> 수량: <span th:text="${sale.count}"></span> 주문 가격: <span data-th-text="${#numbers.formatInteger(sale.price, 3, 'COMMA') + '원'}" /></span><br>
            </li>
            <li th:if="${sales.isEmpty()}">주문 내역이 없습니다.</li>
        </ul>
    </div>
    <button class="accordion">내가 작성한 리뷰</button>
    <div class="panel">
        <ul>
            <li th:if="${!reviews.isEmpty()}" th:each="review : ${reviews}">
                리뷰 번호: <span th:text="${review.id}"></span> 내용: <span th:text="${review.content}"></span><br>
            </li>
            <li th:if="${reviews.isEmpty()}">작성한 리뷰가 없습니다.</li>
        </ul>
    </div>
    <button class="accordion">닉네임 수정하기</button>
    <div class="panel">
        <form action="/update-nickname" class="name-edit-area" method="post" onsubmit="return validateDisplayName()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="displayName">닉네임</label>
            <input type="text" id="displayName" class="name-edit-input" name="displayName" placeholder="수정할 닉네임" th:value="${displayName}">
            <input type="submit" class="info-edit-btn" value="수정하기">
        </form>
    </div>
    <button class="accordion">비밀번호 재설정</button>
    <div class="panel">
        <form action="/update-password" class="pw-edit-area" method="post" onsubmit="return validatePassword()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="newPassword"><span style="position:relative; right:5px">새 비밀번호</span></label>
            <input type="password" id="newPassword" name="password" placeholder="새 비밀번호">
            <label for="confirmPassword">새 비밀번호 재입력</label>
            <input type="password" id="confirmPassword"  placeholder="새 비밀번호 재입력">
            <input type="submit" class="info-edit-btn pw-edit-btn" value="변경하기">
        </form>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // 알림 메시지를 가져와서 표시
    var message = /*[[${message}]]*/ null;
    console.log("Message:", message);
    if (message) {
        alert(message);
    }
    /*]]>*/
</script>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
              panel.style.display = "none";
          } else {
              panel.style.display = "block";
          }
      });
  }

function validateDisplayName() {
      var displayName = document.getElementById("displayName").value;
      var displayNamePattern = /^[가-힣a-zA-Z]*$/;

      // 공백 또는 스페이스바 체크
      if (displayName.trim() === "") {
          alert("닉네임에 공백 또는 스페이스바를 사용할 수 없습니다.");
          document.getElementById("displayName").focus();
          return false;
      }

      // 한글 또는 알파벳 문자 체크
      if (!displayNamePattern.test(displayName)) {
          alert("닉네임은 한글 또는 알파벳 문자로만 이루어져야 합니다.");
          document.getElementById("displayName").focus();
          return false;
      }
      return true; // 유효성 검증 통과

  }

function validatePassword() {
      var newPassword = document.getElementById("newPassword").value;
      var confirmPassword = document.getElementById("confirmPassword").value;
      var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

      // 새 비밀번호 유효성 검증
      if (!passwordPattern.test(newPassword)) {
          alert("비밀번호는 대소문자를 포함한 알파벳과 숫자, 특수문자를 포함하여 8자 이상이어야 합니다.");
          document.getElementById("newPassword").focus();
          return false;
      }

      // 새 비밀번호와 재입력 비밀번호 일치 여부 확인
      if (newPassword !== confirmPassword) {
          alert("새 비밀번호와 새 비밀번호 재입력이 일치하지 않습니다.");
          document.getElementById("confirmPassword").focus();
          return false;
      }

      return true; // 유효성 검증 통과
  }


</script>
</body>
</html>