<div class="nav" th:fragment="navbar">
    <a href="/"><span class="logo">SOLSITE</span></a>
    <span>
    <a href="/write" class="menu" sec:authorize="hasRole('ROLE_ADMIN')">상품 등록</a>
    <a href="/my-page" class="menu">마이페이지</a>
    <a sec:authorize="isAnonymous()" href="/join" class="menu">회원가입</a>
    <span sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin" class="menu">ADMIN</a>
    </span>
    </span>
    <span th:unless="${#authorization.expression('isAuthenticated()')}">
        <a href="/login" class="menu">로그인</a>
    </span>
    <span th:if="${#authorization.expression('isAuthenticated()')}" class="login-user">

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn">로그아웃</button>
        </form>
                <span th:text="'🍃 '+${#authentication.principal.username}+'님'" class="login-user-name"/>
        </span>
</div>
<script>



</script>