<div class="nav" th:fragment="navbar">
    <a href="/"><span class="logo">Sol-Site</span></a>
    <a href="/write">상품 등록</a>
    <div class="right-nav">
          <span th:if="${#authorization.expression('isAuthenticated()')}">
        <a href="/my-page"> <span th:text="${#authentication.principal.username}">
        </span></a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">로그아웃</button>
        </form>
    </span>
        <span th:unless="${#authorization.expression('isAuthenticated()')}">
        <a href="/login">로그인</a>
    </span>

    </div>
</div>