<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>전체 주문 내역</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ adminNav.html::admin-navbar }"></div>
<div class="sort-box-area">
    <input type="hidden" id="currentPage" th:value="${currentPage}">
    <select id="sortSelect" onchange="changeSort()">
        <option value="desc" th:selected="${sort == 'desc'}">최신순</option>
        <option value="asc" th:selected="${sort == 'asc'}">오래된순</option>
    </select>
</div>
<div class="order-all-area">
    <span class="order-list-title">전체 주문 내역</span>


    <table>
        <tr>
            <th>주문번호</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>구매자</th>
            <th>주문일</th>
        </tr>
        <tr th:each="item : ${orderList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.itemName}"></td>
            <td data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}" />
            <td th:text="${item.count}"></td>
            <td th:text="${item.member.username}"></td>
            <td th:text="${#temporals.format(item.created, 'yyyy.MM.dd HH:mm')}"></td>
        </tr>
    </table>
</div>

<div class="pagination justify-content-center mb-5">
    <ul class="pagination">
        <li class="page-item" th:unless="${currentPage == 1}">
            <a class="page-link" th:href="@{/admin/order-list(page=${currentPage - 1}, sort=${sort})}" aria-label="Previous">
                <span aria-hidden="true" style="color:gray;">&laquo;</span>
            </a>
        </li>

        <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
            th:classappend="${pageNum == currentPage} ? 'active' : ''">
            <a class="page-link" th:href="@{/admin/order-list(page=${pageNum}, sort=${sort})}" th:text="${pageNum}"
               th:style="${pageNum == currentPage} ? 'background-color: gray; border-color: #89b089; color: #ffffff;' : 'color: gray;'"></a>
        </li>

        <li class="page-item" th:unless="${currentPage == totalPages}">
            <a class="page-link" th:href="@{/admin/order-list(page=${currentPage + 1}, sort=${sort})}" aria-label="Next">
                <span aria-hidden="true" style="color:gray;">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<script>
    function changeSort() {
         var sortValue = document.getElementById("sortSelect").value;
         var currentPage = document.getElementById("currentPage").value;
         window.location.href = "/admin/order-list?page=" + currentPage + "&sort=" + sortValue;
     }
</script>
</body>
</html>