<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>검색결과</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<div class="container search-list-area">
    <h2><span th:text="'&quot;' + ${searchText} + '&quot;'"></span> 검색 결과</h2>
    <div th:if="${#lists.isEmpty(searchList)}">
        <span>일치하는 결과가 없습니다.</span>
    </div>
    <ul>
        <li th:each="item : ${searchList}">
            <span th:text="${item.title}"></span> -
            <span th:text="${item.price+'원'}"></span>
                <a th:href="@{/detail/{id}(id=${item.id})}" class="card-link">
                <img class="search-image" th:if="${item.imageUrl}" th:src="${item.imageUrl}" alt="상품 이미지">
            </a>
            <img class="search-image" th:unless="${item.imageUrl}" src="/img/notfoundimg.png" alt="상품 이미지 없음">
        </li>
    </ul>
</div>

</body>
</html>