<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>userList</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ adminNav.html::admin-navbar }"></div>

<div class="user-all-list">
    <span class="user-list-title">user list</span>
        <table>
            <tr>
                <th>회원번호</th>
                <th>회원명</th>
                <th>아이디</th>
                <th>권한</th>
            </tr>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.displayName}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.role == 'ROLE_USER' ? '일반 유저' : (member.role == 'ROLE_ADMIN' ? '관리자' : '기타')}"></td>        </tr>
        </table>
</div>
</body>
</html>