<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>userList</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ adminNav.html::admin-navbar }"></div>

<div class="user-all-list">
    <span class="user-list-title">user list</span>
        <table>
            <tr>
                <th>회원번호</th>
                <th>닉네임</th>
                <th>아이디</th>
                <th>권한</th>
                <th>탈퇴</th>
            </tr>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.displayName}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.role == 'ROLE_USER' ? '일반 유저' : (member.role == 'ROLE_ADMIN' ? '관리자' : '기타')}"></td>
                <td>
                    <button class="withdraw-button" th:if="${member.role == 'ROLE_USER'}" th:attr="data-username=${member.username}">탈퇴</button>
                </td>
            </tr>

            </td>
            </tr>
        </table>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
 document.addEventListener('DOMContentLoaded', function() {
    var buttons = document.querySelectorAll('.withdraw-button');
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            var username = button.getAttribute('data-username');
            console.log(username); // 사용자 이름을 콘솔에 출력
            if (confirm(username + '님을 정말로 탈퇴시키시겠습니까?')) {
                withdrawUser(username);
            }
        });
    });
});

    function withdrawUser(username) {
        var csrfToken = /*[[${_csrf.token}]]*/ ''; // CSRF 토큰 가져오기
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/withdraw', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    alert(xhr.responseText);
                    window.location.reload();
                } else {
                    alert('오류가 발생했습니다.');
                }
            }
        };
        xhr.send('_csrf=' + encodeURIComponent(csrfToken) + '&username=' + encodeURIComponent(username));
    }
    /*]]>*/
</script>
</body>
</html>