<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>write</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<form id="itemForm" action="/add" method="POST" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="title" placeholder="제목" required>
    <input name="price" placeholder="가격" required>
    <input type="file" name="imageFile" id="imageInput" required>
    <button type="submit">등록</button>
</form>

<img id="previewImage" src="" alt="미리보기 이미지">
<script>
    document.getElementById('imageInput').addEventListener('change', function(event) {
        let input = event.target;
        let reader = new FileReader();
        reader.onload = function() {
            let dataURL = reader.result;
            let previewImage = document.getElementById('previewImage');
            previewImage.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    });
</script>
</body>
</html>