<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>write</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
<div class="container join-area">
<h2>상품 등록</h2>
    <div th:if="${errorMessage != null}">
        <div style="color: red;" th:text="${errorMessage}"></div>
    </div>
<form id="itemForm" action="/add" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="title" id="titleInput" placeholder="상품명" required>
    <input type="number" min="100" name="price" id="priceInput" placeholder="가격" required>
    <input name="descContent" id="descContent" placeholder="설명" required>
    <input type="file" name="imageFile" id="imageInput" required>
    <div class="preview-area">
        <img id="previewImage" src="" alt="미리보기 이미지">
    </div>
    <button type="submit" class="write-btn">등록</button>
</form>
</div>
<script>
    document.getElementById('imageInput').addEventListener('change', function(event) {
        let input = event.target;
        let reader = new FileReader();
        reader.onload = function() {
            let dataURL = reader.result;
            let previewImage = document.getElementById('previewImage');
            previewImage.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    });


    function validateForm() {
        let title = document.getElementById('titleInput').value;
        let price = document.getElementById('priceInput').value;
        let descContent = document.getElementById('descContent').value;

        if (title.trim() === '' || price.trim() === '' || descContent.trim() === '') {
            alert('상품명과 가격, 설명을 모두 입력해주세요.');
            return false;
        }

        return true;
    }
</script>
</body>
</html>